<div class="container">
	<div class="row">
					<div class="col-xs-3">
					<%= render 'users/mypage&post', {user: current_user,books: @books,book: @book} %>
					</div>
<div class="col-xs-9">
<div class="main clearfix">
<h1>Books</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Opinion</th>
		</tr>
	</thead>

	<tbody>
<!--  変数bookを使ってtitle,bodyを以下で表示  -->
		<% @books.each do |book| %>
		<tr>
			<td>
				<!-- 下記のbook.userはブロック変数book
				のuser_idで関連づけているユーザーのアイコンを表示 -->
				<%= link_to user_path(book.user) do %>
				<%= attachment_image_tag book.user, :profile_image, :fill,60,60, fallback:"no_image.jpg" %>
				<% end %>
 			</td>
			<td>
				<%= link_to book.title,book_path(book) %>
		    </td>
			<td>
				<%= book.body %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
</div>
</div>
</div>