
<body>


<% if flash[:notice] %>
  <p class="message"><%= flash[:notice] %></p>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-xs-3">
		<%= render 'users/mypage&post', {user: @user,book: @new} %>
		</div>
<div class="col-xs-9">
	<!-- clearfixは不要 -->
<div class="main">
<h1>Book detail</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>
				<!-- https://qiita.com/ezawa800/items/3f18961e043afcb2cf73　画像にリンク -->
				<%= link_to user_path(@user) do %>
				<%= attachment_image_tag @book.user, :profile_image, :fill,100,100, fallback:"no_image.jpg" %><br>
				<% end %>
				<%= link_to @user.name,user_path(@user) %>


				<% if @book.favorite_by?(current_user) %>
			 	<li>
				 	<%= link_to book_favorites_path(@book.id),method: :delete do %>
				 	<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
				 	<p><%= @book.favorites.count %>いいね</p>
				 	<% end %>
			    </li>
			    <% else %>
			    <li>
			    	<%= link_to book_favorites_path(@book.id),method: :post do %>
			    	<i class="fa fa-heart-o" aria-hidden="true"></i>
			    	<p><%= @book.favorites.count %>いいね</p>
			    	<% end %>
			    </li>
			    <% end %>


 			</td>
			<td>
				<%= @book.title %>
		    </td>
			<td>
				<%= @book.body %>
			</td>
			<!-- もし@bookのユーザーがログインユーザーならボタンを表示 -->
			 <% if @book.user == current_user %>
			<td>
				<%= link_to "Edit" ,edit_book_path,class: "btn btn-success"%>
			</td>
			<td>
				<%= link_to "Destroy" ,book_path(@book),method: :delete,"data-confirm" => "本当に消しますか？",class: "btn btn-danger"%>
			</td>
			 <% end %>
		</tr>
	</tbody>
</table>

<!-- コメント機能追加 -->
<div class="comment-area">
<h3 class="comment-count"><%= @book.books_comments.count %>件のコメント</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>ユーザー名</th>
			<th>コメント</th>
		</tr>
	</thead>
	<tbody>
			 <% @book.books_comments.each do |books_comment| %>
		<tr>
			 <td class="comment-user-name">
			 	<%= books_comment.user.name %>
			 </td>
			 <td class="comment-comment">
			 	<%= books_comment.comment %>
			 </td>
			 <% if @book.user == current_user %>
			<td>
				<%= link_to "編集",edit_book_books_comment_path(@book.id,books_comment.id),class: "btn btn-success"%>
			</td>
			<td>
				<%= link_to "消去" ,book_books_comment_path(@book.id),method: :delete,"data-confirm" => "本当に消しますか？",class: "btn btn-danger"%>
			</td>
			 <% end %>
			 <% end %>


		</tr>
	</tbody>
</table>


<%= form_for [@book,@books_comment] do |f| %>
<div class="comment-area">
	<%= f.text_area :comment %>
</div>
<%= f.submit "送信する" %>
<% end %>


<table class="table table-striped">
	<thead>
		<tr>
			<th>いいねユーザー一覧</th>
		</tr>
	</thead>
	<tbody>
			 <% @book.favorites.each do |favo| %>
		<tr>
			 <td class="favorite-user-name">
			 	<%= favo.user.name %>
			 </td>

			 <% end %>
		</tr>
	</tbody>
</table>



</div>
</div>
</div>
</div>
</body>


